.center {
    text-align: center;
  }

 
  ::ng-deep .custom-toast {
    background-color: rgb(116, 161, 196);
    color: black;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    

  }